<!-- The article view -->
<section class="row" data-ng-controller="ApplicationController" data-ng-init="createAppDetail()">
    <div class="col-md-12">
        <div id="application" class="panel panel-default" style="height: auto;">
            <div id="applicationheader" class="panel-heading">
                <h3><i class="fa fa-laptop fa-fw"></i>&nbsp;{{appName}}</h3>
			</div>
                <div class="panel-body" style="margin : 20px">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
                            <li role="presentation"><a href="#business" aria-controls="business" role="tab" data-toggle="tab" ng-click="getRelatedFuncs(appId)">Business</a></li>
                            <li role="presentation"><a href="#technology" aria-controls="technology" role="tab" data-toggle="tab" ng-click="getRelatedTech(appId)">Technology</a></li>
							<li id="interfacetab" style="display:none;" "role="presentation"><a href="#interfaces" aria-controls="interfaces" role="tab" data-toggle="tab" ng-click="createInterfaceSSOChart(appId,'all')">Interfaces</a></li>						
                        </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="overview">
                            <h4>Description</h4>
                            <p>{{appDescription}}</p>
                        </div>


                        
                        <div role="tabpanel" class="tab-pane fade" id="business">
                            <br>
                            <h3>Business Overview</h3>
                            <table class="table table-hover">
                                <tr>
                                    <th>Attribute</th>
                                    <th>Value</th> 
                                </tr>
								<tr>
                                    <td><i class="fa fa-sitemap"></i>&nbsp;SSO</td>
                                    <td>{{appSSO}}</td> 
                                </tr>
								<tr>
                                    <td><i class="fa fa-sitemap"></i>&nbsp;2 Letter Office</td>
                                    <td>{{appOwner}}</td> 
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user"></i>&nbsp;Business POC</td>
                                    <td>{{appBusPOC}}</td> 
                                </tr>
                                <tr>
                                    <td><i class="fa fa-money"></i>&nbsp;Related Investment</td>
                                    <td>{{appInvestment}}</td> 
                                </tr>
                            </table>
                            <br>
                            <h3>Related Business Capabilities</h3>
                            <table class="table table-hover">
                                <tr>
                                    <th>Capability</th>
                                    <th>Description</th>
                                </tr>
                                <tr data-ng-repeat="func in appfuncs">
                                    <td data-title="'Function Name'">{{func.Name}}</td>
                                    <td data-title="'Function Definition'">{{func.Description}}</td>
                                </tr>
                            </table> 
                        </div>
                        <div role="tabpanel" class="tab-pane" id="technology">
                            <br>
                            <h3>Technical Overview</h3>
                            <table class="table table-hover">
                                <tr>
                                    <th>Attribute</th>
                                    <th>Value</th> 
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user"></i>&nbsp;Technical POC</td>
                                    <td>{{appTechPOC}}</td> 
                                </tr>
                                <tr>
                                    <td><i class="fa fa-cloud"></i>&nbsp;Cloud</td>
                                    <td>{{appCloud}}</td> 
                                </tr>
                                <tr>
                                    <td><i class="fa fa-cogs"></i>&nbsp;Technology Platform</td>
                                    <td>{{appPlatform}}</td> 
                                </tr>
                                <tr>
                                    <td><i class="fa fa-cog"></i>&nbsp;Related System</td>
                                    <td>{{appSystem}}</td> 
                                </tr>
                            </table>
                            <br>
                            <h3>Related Technology</h3>
                            <table class="table table-hover">
                                <tr>
                                    <th>Technology</th>
                                    <th>Category</th>
                                </tr>
                                <tr data-ng-repeat="tech in apptech">
                                    <td data-title="'Investment ID'">{{tech.Name}}</td>
                                    <td data-title="'Business Case ID'">{{tech.Category}}</td>
                                </tr>
                            </table>  
                        </div>
						<div role="tabpanel" class="tab-pane fade in active" id="interfaces">
                            <div id="interfacessochart">
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
