<!-- The article view -->
<section class="row" data-ng-controller="BusinessController" data-ng-init="createCapabilityTree()">
<script>$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
    <div class="col-md-12">
        <div id="business" class="panel panel-default" style="height: auto;">
            <div id="businessheader" class="panel-heading">
                <h3><i class="fa fa-sitemap fa-fw"></i>Business Capability Model</h3>
				<button style="position:absolute;right:30px; top:15px;" type="button" class="btn btn-lg btn-info" data-toggle="popover" data-placement="bottom" data-html="true" title="Model Help" 
				data-content="<b>Zoom:</b> Click on a capability to zoom into the model and see the children.  Click on the far left panel while zoomed in to zoom back out.<br>">Click to see how to use this model</button>
			</div>
			<div id="buschart" class="panel-body">
			</div>
        </div>
		<div class="panel panel-info" id="funcdetail" style="display:none; width:400px; height: auto; position: fixed; top: 150px; right: 60px;">
			<div id="funcdetailheader" class="panel-heading">
			</div>
			<div id="funcdetailbody" class="panel-body" style="margin: 10px;">
			
			</div>
				
		</div>
    </div>
</section>
